@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-margin: 70px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3';
    background-color: #ffffff;
    letter-spacing: 1px;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    margin: 10px auto;
    /* Center it */
    background-color: #ffffff;
    justify-content: center;
    border-radius: 50px;
    padding: 10px 15px;
    top: 0;
    position: fixed;
    left: 15px;
    right: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24), -1px -1px 1px rgba(0, 0, 0, 0.212);
    /* Avoid width overflow */
}

img {
    width: 100%;
}

nav .navlinks {
    display: flex;
    /* Make it a flex container */
    justify-content: flex-end;
    /* Push content to the end */
}

nav .navlinks ul {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    color: black;
}

nav .navlinks ul li {
    list-style: none;
}

nav .navlinks ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 25px;
    transition: 0.3s ease;
}

nav .navlinks ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

nav .light-dark-toggle button {
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    border: none;
}

nav .light-dark-toggle button:hover {
    background-color: black;
    color: white;
}


/* Sidebar Container */
.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: -500px;
    width: 225px;
    height: 100%;
    background-color: #d4f4ff;
    color: white;
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 1000;
    box-shadow: 1px 1px 1px black, -1px -1px 1px black;

}

/* Sidebar Links */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 1.2rem;
    transition: 0.3s;
    padding: 20px;
}

.sidebar ul li a:hover {
    background-color: #292a2d;
    color: white;
}

.menu-btn {
    font-size: 24px;
    display: none;
}

.sidebar.active {
    left: 0;
}



.main-container {
    padding: 20px;
    height: 600px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dbf4fc;
}

.main-container h1 {
    font-size: 2rem;
}

.main-container p {
    font-size: 1.2rem;
}

.main-container button {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 20px;
    background-color: #1f8cbb;
    border: none;
    border-radius: 50px;
    transition: 0.3s ease;
}

.main-container button:hover {
    background-color: hsl(198, 100%, 35%);
    transform: translateY(-5px);
}

#about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

footer {
    bottom: 0;
    background-color: #000000;
    width: 100%;
    color: rgb(255, 255, 255);
}

.footer-logo {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.footer-logo h1 {
    font-size: 2.5rem;
}

.footer-logo p {
    padding-top: 25px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    text-align: left;
}

.footer-container h4 {
    font-size: 1.1rem;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container ul li {
    padding: 5px;
}

.footer-container ul li a {
    text-decoration: none;
    opacity: 0.8;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
}

.footer-section ul li a:hover {
    opacity: 1;
}

.social-media a {
    font-size: 23px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.footer-bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    opacity: 0.8;
}

.footer-bottom :hover {
    opacity: 1;
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo {
        font-size: 1rem;
    }

    nav .navlinks {
        display: none;
    }

    .sidebar {
        left: -250px;
    }

    .menu-btn {
        display: block;
    }

    #search-bar {
        width: 100px;
    }

    .light-dark-toggle {
        display: none;
    }

    .sidebar {
        display: block;
    }

    .footer-logo {
        padding: 20px;
        color: white;
        display: block;
    }

    .footer-logo p {
        padding-top: 0px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 90%;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
    }
}